<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>

	<connectionStrings>
		<add name="PaaSystem" connectionString="Data Source=(local);Database=PaaSystem;Initial Catalog=PaaSystem;Integrated Security=True" />
		<!--<add name="PaaSystem" connectionString="Data Source=22I5DELL419\MSSQLSERVER01;Initial Catalog=PaaSystem;Integrated Security=True" />-->
	</connectionStrings>

	<!--Log4.net Configuration-->
	<log4net>
		<appender name="CoreAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Logs/Logs.log" />
			<appendToFile value="true" />
			<maximumFileSize value="3072KB" />
			<maxSizeRollBackups value="1" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>
		<root>
			<level value="ALL" />
			<appender-ref ref="CoreAppender" />
		</root>
	</log4net>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
	</startup>
	<appSettings>
		<add key="ApiUri" value="http://localhost:56714" />
	</appSettings>
</configuration>
