<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITuStdWorkflow">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://sdkstage.microbilt.com/WebServices/TU/TuStd.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITuStdWorkflow"
                contract="MicrobiltStaging.ITuStdWorkflow" name="BasicHttpBinding_ITuStdWorkflow" />
        </client>
    </system.serviceModel>
</configuration>