<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
	</startup>
	<log4net>
		<appender name="CoreAppender" type="log4net.Appender.RollingFileAppender">
			<file value="Logs/Logs.log" />
			<appendToFile value="true" />
			<maximumFileSize value="3072KB" />
			<maxSizeRollBackups value="1" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>
		<root>
			<level value="ALL" />
			<appender-ref ref="CoreAppender" />
		</root>
	</log4net>
	<appSettings>
		<add key="ApiUri" value="http://server:8686/" />
		<add key="Dic.DownloadUri" value="http://server:8686/Dic/en-US.dic" />
		<add key="Helper.Uri" value="http://server:8686/Helpers/PaaHelper.html" />
		<add key="WordTemplate" value="WordTemplate\" />
		<add key="CustomerServiceEmail" value="customerservice@bemroseconsulting.com" />
		<add key="SharedFolder" value="Z:\Styles\" />
		<add key="CachePolicyInterval" value="5" />
		<add key="AppDataFolder" value="PaaApplication\" />		
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="ObjectListView" publicKeyToken="b1c5bf581481bcd4" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.7.0.20263" newVersion="2.7.0.20263" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_ITuStdWorkflow" maxBufferSize="6553600" maxReceivedMessageSize="6553600">
					<security mode="Transport" />
				</binding>
				<binding name="BasicHttpBinding_ITuStdWorkflow1" maxBufferSize="6553600" maxReceivedMessageSize="6553600">
					<security mode="Transport" />
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="https://sdkstage.microbilt.com/WebServices/TU/TuStd.svc"
				binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITuStdWorkflow"
				contract="StagingTuStd.ITuStdWorkflow" name="BasicHttpBinding_ITuStdWorkflow" />
			<endpoint address="https://creditserver.microbilt.com/WebServices/TU/TuStd.svc"
				binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITuStdWorkflow1"
				contract="ProductionTuStd.ITuStdWorkflow" name="BasicHttpBinding_ITuStdWorkflow1" />
		</client>
	</system.serviceModel>
</configuration>
