/****** Object:  Table [dbo].[standard_template]    Script Date: 28/9/2015 11:31:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[standard_template](
	[id] [varchar](36) NOT NULL,
	[parent_id] [varchar](36) NOT NULL,
	[name] [nvarchar](1000) NOT NULL,
	[caption] [ntext] NULL,
	[index] [smallint] NOT NULL,
 CONSTRAINT [PK_standard_template] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
