/****** Object:  Table [dbo].[internet_tool]    Script Date: 09/12/2015 22:44:46 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[internet_tool]') AND type in (N'U'))
DROP TABLE [dbo].[internet_tool]
GO
/****** Object:  Table [dbo].[internet_tool]    Script Date: 09/12/2015 22:44:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[internet_tool]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[internet_tool](
	[id] [varchar](36) NOT NULL,
	[caption] [nvarchar](100) NOT NULL,
	[target] [varchar](2000) NOT NULL,
	[image] [varbinary](max) NULL,
	[order] [tinyint] NOT NULL,
 CONSTRAINT [PK_internet_tool] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
